.daybar {
  width: 12.5%;
  height: 5em;
  background-color: whitesmoke;
  float: left;
}
.busydaybar {
  width: 12.5%;
  height: 5em;
  background-color: whitesmoke;
  float: left;
}
.day {
  display: block;
  text-align: center;
  margin-top: 0.5em;
  font-size: large;
}
.date {
  display: block;
  text-align: center;
  margin-top: 0.5em;
  font-size: large;
}
