@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.main {
  background-color: whitesmoke;
  height: 3em;
  width: 100%;
  padding: 3px;
  position: fixed;
  top: 0;
}
.main label {
  margin-left: 12.5%;
  display: block;
  float: left;
  text-align: left;
  width: 12.5%;
  font-size: 2em;
}
