.main {
  background-color: whitesmoke;
  height: 3em;
  width: 100%;
  padding: 3px;
  position: fixed;
  top: 0;
}
.main label {
  display: block;
  float: left;
  text-align: right;
  width: 12.5%;
  font-size: 2em;
}
